.bg-colorGray{
  background-color: #282828;
}
.bg-colorYellow{
  background-color: #eeff00;
}
.bg-colorYellowDk:hover{
  background-color: #bbc900;
}
.colorGray{
  color: #282828;
}
.colorYellow{
  color: #eeff00;
}
.colorYellowHv:hover{
  color: #eeff00;
}